@font-face {
	src: url("fonts/raleway.ttf");
	font-family: Raleway;
}

@font-face {
	src: url("fonts/opensans.ttf");
	font-family: Open Sans;
}

body {
	background: url('background.jpg') no-repeat black;
	background-size: cover;
	font-family:  "Open Sans", sans-serif;
	color: white;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
	-webkit-user-select: none;
}

body {
	overflow: hidden;
}

input[type="password"] {
	padding: 6px 25px 6px 30px;
	border: solid 1px dodgerblue;
	outline: 0;
	width: calc(100% - 110px);
	border-radius: 2px;
	font-family: Raleway;
	box-shadow: 0 0 4px  rgba(30,144,255,0.8);
}
input[type="checkbox"] {
	vertical-align: middle;
}

.clock {
	position: absolute;
	right: 10%;
	top: calc(20% + 120px);
	font-size: x-large;
}
.clock label {
	display: block;
}
.clock label:last-child {
	font-size: 4.5em;
	font-weight: 100;
	font-family: Raleway;
}

.jq-dropdown .jq-dropdown-menu li > a {
	padding: 8px !important;
}
.jq-dropdown .jq-dropdown-menu li > a:hover {
	background: #dfdfdf !important;
}
.jq-dropdown .jq-dropdown-menu label {
	display: inline-block !important;
	background: transparent !important;
	width: 100%;
}

.loggedin {
	background: dodgerblue;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 21px;
	border-radius: 50%;
	padding: 2px;
	position: absolute;
	text-align: center;
	top: 70px;
	left: 70px;
}

.titlebar {
	background: rgba(0,0,0,0.0);
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	width: 100%;
	color: white;
	z-index: 1000;
	text-align: right;
	box-sizing: border-box;
}
.titlebar ul {
	list-style: none;
	margin: 0;
}
.titlebar ul li {
	display: inline;
}
.titlebar a {
	font-weight: 100;
	margin-left: 10px;
	text-shadow: none;
	font-size: large;
	color: #ffffff;
	outline: 0;
}

.jq-dropdown a, .jq-dropdown li {
	text-shadow: none;
	color: #333 !important;
	font-size: small;
}

.userList {
	top: 20%;
	left: 20%;
	position: absolute;
	width: 28%;
	box-sizing: border-box;
	transition: margin 0.3s ease-in-out;
}
.userList label {
	font-size: xx-large;
	font-weight: 100;
}
.userList .user {
	height: 96px;
	opacity: 0.5;
	position: relative;
	transition: margin 0.3s ease-in-out, opacity 1s ease-in-out;
	margin-bottom: 3px;
	cursor: pointer;
}
.userList .bright {
	opacity: 1.0;
}
.userList .user label {cursor: pointer;}
.userList .active {
	margin: 100px 0 100px 0;
}
.userList .user img {
	width: 96px;
	height: 96px;
	border-radius: 48px;
	float: left;
	margin-right: 10px;
}
.userList .user p {
	position: relative;
}

#loginbutton {
	color: #aaa;
	text-shadow: none;
	position: absolute;
	right: 10px;
	top: 25%;
	cursor: pointer;
}

#lock {
	color: #aaa;
	text-shadow: none;
	position: absolute;
	left: calc(96px + 15px + 5px);
	top: 25%;
}

#manager {
	position: absolute;
	top: 15px;
	right: 5px;
	background: #eee;
	border-radius: 3px;
	padding: 4px 6px;
	text-shadow: none;
	border: solid 1px #aaa;
	cursor: pointer;
	color: #333;
}

#languageMenu {
	height: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* HIGH CONTRAST */
body.highcontrast {
	text-shadow: 2px 2px 0 black, -2px -2px 0 black, 0 2px 0 black, 2px 0 0 black, 0 -2px 0 black, -2px 0 0 black;
	font-weight: bold !important;
}
body.highcontrast input[type="password"] {
	border: solid 3px;
	box-shadow: none;
}
body.highcontrast .titlebar {
	background: black;
}
body.highcontrast .titlebar a {
	font-size: x-large;
}
body.highcontrast .user {
	opacity: 1;
}
body.highcontrast .user span {
	color: black !important;
}
body.highcontrast span.loggedin {
	color: #ffffff !important;
}
body.highcontrast .jq-dropdown .jq-dropdown-menu li > a:hover {
	background: black !important;
	color: #ffffff !important;
}
body.highcontrast #manager {
	background: black;
}
body.highcontrast #manager span {
	color: #ffffff !important;
}
body.highcontrast .userList .user img {
	box-shadow: 2px 2px 0 black, -2px -2px 0 black, 0 2px 0 black, 2px 0 0 black, 0 -2px 0 black, -2px 0 0 black;
}